.app-content {
    display: flex;
    height: 600px;
}

.app-content > * {
    width: 50%;
    padding: 10px
}

.app-charts {
    display: flex;
    flex-direction: column;
}

.app-charts > * {
    height: 50%;
}